z
  * {
    margin: 0;
    padding: 0;
  }
  
  
  
  .secondary-text {
    font: normal 13px Open-sans, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
  }
  
  .small-text {
    font-size: 13px;
    line-height: 15px;
  }
  


  
  nav {
    display: flex;
  }
  
  .nav-item {
    padding: 0 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid #464547;
  }

  
  .content-wrapper {
    margin: 0 auto;
    width: 1240px;
    min-height: 570px;
    display: flex;
    justify-content: space-between;
  }
  
  .description-container, .description-container1  {
    padding: 55px 0 30px 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #DEAE83;
    flex: 1;
  }
  
  @media (min-width: 1300px) {
  
    .tablet-content:not(.pc-content),
    .mobile-content:not(.pc-content) {
      display: none
    }
  
    .doors .content-wrapper {
      margin-top: 100px;
      position: relative;
    }
   
    
  
    .content-img.interior-doors
    {
      position: absolute;
      left: 0px;
      top: -30px;
      height: calc(100% + 60px);
    }

  
    .content-img.entrance-doors
    {
      position: absolute;
      right: 0px;
      top: -30px;
      height: calc(100% + 60px);
    }
  

  
    .content-img.terrace-doors
    {
      position: absolute;
      right: -0px;
      top: -30px;
      height: calc(100% + 60px);
    }

  }
  
  .content-img {
    width: 500px;
    height: 570px;
  }
  
  .content-img.interior-doors {
    width: 620px
  }
  
  
  .text-container h3
  {
    width: 300px;
    color: #fff;
  }

  .text-container1 h3
  {
    width: 300px;
    color: #fff;
  }

  .text-container{
    width: 300px
  }

  .text-container1 {
    width: 300px
  }
  
  .content-text {
    padding: 15px 0;
    color: black;
  }
  
  .dignity-container, .dignity-container1 {
    display: flex
  }

  .dignity-container1 {
    display: flex;
    justify-content: right;
    margin-right: 110px;
  }
  
  .circle-block {
    width: 98px;
    height: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #fff;
    font-weight: bold;
    padding: 5px;
    color: #fff;
  }
  
  .circle-block+.circle-block {
    margin-left: 40px
  }
  
  .description-container .text-container h3, .description-container1 .text-container h3 {
    font-size: 34px;
    line-height: 35px;
  }
  
  .description-container .text-container .secondary-text, .description-container1 .text-container .secondary-text {
    font-size: 14px;
    line-height: 21px;
  }


body {
    background-color: #DDD;
    width: 1440px;
    margin: 0 auto;
    /* max-width: 1440px; */
}

header {
   max-width: 100%;
   background-color: #464547;
   height: 70px;
   width: 1440px;
   margin-left: auto;
   margin-right: auto;
   position: relative;
   width: 1440px;
   padding: 15px 0;
}

.header-nav {
    max-width: 1240px;
    margin: 0 auto;
    text-align: right;
    height: 40px;
    justify-content: right;
}

.header-nav a {
    display: flex;
    text-decoration: none;
    font: normal 13px Open-sans, sans-serif;
    line-height: 40px;
    color: #FFFDFD;
    padding: 12px 20px;
}

.header-nav a:hover {
    background-color: #2A1D17;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

.gallery {
    width: 1440px;
    height: 600px;
    background-image: url(images/Rectangle.jpg);
}

.gallery__inner {
    padding-top: 162px;
    padding-left: 210px;
}

.gallery__inner h1 {
    /* top: 252px; */
    /* left: 210px; */
    width: 900px;
    font: bold 96px Open-sans, sans-serif;
    line-height: 85px;
    color: #FFFEFE;
    margin-bottom: 32px;
    /* position: relative; */
}

.gallery__inner p {
    /* top: 282px; */
    /* left: 210px; */
    font: bold 30px Open-sans, sans-serif;
    color: #FFF;
    /* position: relative; */
}

.circles {
    display: none;
}

.feedbacks {
  width: 768px;
  margin-top: 20px;
  margin-bottom: 100px;
}


.feedbacks, .form-section {
    background-color: #FEFEFE;
    width: 1240px;
    margin: 100px auto;
}

.feedbacks .container {
    display: flex;
    justify-content: center;
}

.feedbacks .comment {
    overflow-x:hidden;
    width: 189px;

    margin: 0 25px;
}



.feedbacks h1 {
    font: bold 36px Open-sans, sans-serif;
    padding: 50px 0 30px;
    text-align: center;
}

.feedbacks h3 {
    font: bold 36px Open-sans, sans-serif;
    padding: 50px 0 30px;
    text-align: center;
}

.feedbacks h2 {
    font: bold 16px Open-sans, sans-serif;
    margin: 5px 0 15px;
    text-align: center;
}

.feedbacks p {
    font: normal 14px Open-sans, sans-serif;
    line-height: 21px;
    text-align: left;
    padding: 25px 0 25px;
    border-top: 1px solid rgba(153, 152, 152, 0.4);
    border-bottom: 1px solid rgba(153, 152, 152, 0.4);
}



.avatar {
    border: 1px solid #56700F;
    border-radius: 50%;
    overflow: hidden;
    width: 102px;
    height: 102px;
    margin: 0 auto;

}

.avatar img {
    width:100%;
    height:100%;
    object-fit: cover;

}

.map {
    width: 620px;
    height: 580px;
    margin-right: 10px;
}
.map_768,
.map_375 {
    display: none;
}
.form-section {
    position: relative;
}

.form-section img {
    float: left;
}

.form-section form {
    margin-top: 55px;
    float: right;
    width: 500px;

}

.form-section input {
    border: 1px solid #CBCACA;
    border-radius: 2px;
    width: 342px;
    height: 35px;
    margin: 10px 0;
}

form h1 {
    font: bold 36px Open-sans, sans-serif;
    margin-bottom: 16px;
}

form label {
    font: bold 16px Open-sans, sans-serif;
    margin-bottom: 16px;
}

form h2 {
    font: bold 14px Open-sans, sans-serif;
    padding-right: 9px;
}

form p {
    font: normal 11px Open-sans, sans-serif;
    margin-bottom: 15px;
}

.form-section .phone-number h2, .form-section .phone-number input {
    display: inline-block;
}

.form-section ::-webkit-input-placeholder {
    padding-left: 5px;
}

.form-section .phone-number ::-webkit-input-placeholder {
    padding-left: 0;
    text-align: center;
}

.form-section input[type="submit"] {
    width: 199px;
    height: 40px;
    background-color:#2A1D17;
    color: #FFFEFE;
}

.footer {
    height: 260px;
}

footer {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    height: 260px;
    background-color: #464547;
}

footer .container {
    padding-top: 45px;
    width: 1240px;
    margin: 0 auto;
}

footer .text, footer .links {
    display: inline-block;
    max-width: 176px;
    margin-right: 80px;
}

footer .links {
    margin-right: 53px;
}

footer .partners {
    display: inline-block;

}

footer .links p, footer .text p {
    padding-bottom: 20px;
    font: normal 14px Open-sans, sans-serif;
    color: #FFFEFE;
}

footer .links p {
    padding-bottom: 5px;
}

footer .links a:hover {
    opacity: 40%;
}

footer .partners h1 {
    font: normal 14px Open-sans, sans-serif;
    color: #FFFBFB;
}

footer .partners h2 {
    font: normal 14px Open-sans, sans-serif;
    color: #FFFBFB;
}

footer .partners img {
    margin: 12px 15px 0 0;
} 

.big-img {
    display: inline-block;
    margin-top: 28px;
}

.min-height{
    min-height: 380px !important;
}

.description-container1 {
  margin-left: 610px;
}

@media (min-width: 760px) and (max-width: 1300px) {

  .pc-content:not(.tablet-content),
  .mobile-content:not(.tablet-content) {
    display: none
  }
    
  .secondary-text {
    font-size: 13px
  }


  .pc-content:not(.tablet-content),
  .mobile-content:not(.tablet-content) {
    display: none
  }

  .doors .content-wrapper {
    margin-top: 100px;
    position: relative;
    background-color: #DEAE83;
  }

  .dignity-container1 {
    display: flex;
    justify-content: right;
    margin-right: 150px;
    margin-top: 100px;
  }

  .dignity-container, .dignity-container1  {
    display: flex
  }

  .content-wrapper {
    margin-bottom: 50px;
    margin-top: 40px;
    width: 100%-100px;
  }

  .description-container .text-container h3, .description-container1 .text-container h3 {
    font-size: 34px;
    line-height: 35px;
  }


  .description-container .text-container1 h3 {
    font-size: 34px;
    line-height: 35px;
  }
  
  .description-container .text-container .secondary-text, .description-container1  .text-container .secondary-text {
    font-size: 14px;
    line-height: 21px;
  }

  .description-container .text-container1 .secondary-text {
    font-size: 14px;
    line-height: 21px;
  }


  .description-container, .description-container1 {
    margin-top: 50px;
    padding: 30px 0 0 80px;
    justify-content: flex-start;
  }


  .doors .content-wrapper:nth-of-type(even) .description-container {
    padding: 30px 0 0 48px;
    margin-top: 50px;
  }

  .doors .content-wrapper:nth-of-type(even) .description-container1 {
    padding: 30px 0 0 48px;
    margin-top: 50px;
  }


  .tablet-circle-wrapper .secondary-text {
      font-size: 24px;
      line-height: 36px;
  }

  .tablet-circle-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEAE83;
    padding: 30px;
  }

  .content-img.interior-doors
  {
    position: absolute;
    left: 0px;
    top: -30px;
    height: calc(100% + 60px);
  }

  .content-img.entrance-doors
  {
    position: absolute;
    right: 0px;
    top: -30px;
    height: calc(100% + 60px);
  }

  .content-img.terrace-doors
  {
      position: absolute;
      right: 0px;
      top: -30px;
      height: calc(100% + 60px);
  }

  .circle-block {
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #fff;
    font-weight: bold;
    padding: 5px;
    color: #fff;
  }
  
  .circle-block+.circle-block {
    margin-left: 40px
  }
  




  .dignity-container, .dignity-container1  {
    display: none
  }

  .circles {
    display: inline-block;
    margin: 20px 0px 20px 0px;
    width: 768px;
    height: 160px;
    background: #DEAE83;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.circles__inner {
    display: flex;
    width: 386px;
    justify-content: space-between;
}

.circles__item {
    width: 102px;
    height: 102px;
    font: normal 14px Open-sans, sans-serif;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    color: #FFFBFB;
    border-radius: 50%;
    border: 2px solid #FDFEFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-section {
  position: relative;
}
.form-section img {
  float: left;
}

.form-section form {
  margin-top: 55px;
  float: right;
  width: 500px;

}

.form-section input {
  border: 1px solid #CBCACA;
  border-radius: 2px;
  width: 342px;
  height: 35px;
  margin: 10px 0;
}

form h1 {
  font: bold 36px Open-sans, sans-serif;
  margin-bottom: 16px;
}

form label {
  font: bold 16px Open-sans, sans-serif;
  margin-bottom: 16px;
}

form h2 {
  font: bold 14px Open-sans, sans-serif;
  padding-right: 9px;
}

form p {
  font: normal 11px Open-sans, sans-serif;
  margin-bottom: 15px;
}

.form-section .phone-number h2, .form-section .phone-number input {
  display: inline-block;
}

.form-section ::-webkit-input-placeholder {
  padding-left: 5px;
}

.form-section .phone-number ::-webkit-input-placeholder {
  padding-left: 0;
  text-align: center;
}

.form-section input[type="submit"] {
  width: 199px;
  height: 40px;
  background-color:#2A1D17;
  color: #FFFEFE;
}


}

@media screen and (max-width: 760px){

  .pc-content:not(.mobile-content),
  .tablet-content:not(.mobile-content) {
    display: none
  }

    body {
        margin: 0;
        width: 768px;
    }
    html,body{overflow-x:hidden;}
   

    .gallery {
        width: 768px;
        height: 468px;
        background-image: url(images/Rectangle_768.jpg);
    }

    .gallery__inner {
        width: 400px;
        padding-left: 112px;
    }

    .gallery__inner h1{
        left: 60px;
        font-weight: 700;
        font-size: 47px;
        line-height: 51px;        
    }
    .gallery__inner p{
        left: 60px;
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;       
    }

    .form-section .phone-number h2, .form-section .phone-number input {
      display: inline-block;
    }
  
  .form-section ::-webkit-input-placeholder {
      padding-left: 5px;
  }
  
  .form-section .phone-number ::-webkit-input-placeholder {
      padding-left: 0;
      text-align: center;
  }

    .circle, .circle2 {
        display: none;
    }
    .entrance-door,
    .room-door,
    .balkony-door {
        overflow-x:hidden;
        width: 768px;
        max-height: 300px;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .entrance-door img {
        width: 330px;
        height: 323px;
        top: 30px;
        left: 120px;
    }
    .room-door img {
        width: 330px;
        height: 323px;
        top: 30px;
        left: 55px;
    }

    .balkony-door img {
        width: 330px;
        height: 323px;
        top: 30px;
        left: 120px;
    }

    .text-container h3
    {
      width: 350px;
      color: #fff;
    }

    .content-wrapper {
      margin: 5px auto;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
    }
  
    .doors .content-wrapper {
      padding: 20px;
      background-color: #DEAE83;
      flex-direction: column-reverse;
    }
  
    .doors .content-wrapper:first-of-type {
      margin-top: 5px
    }
  
    .description-container {
      padding: 0
    }

    .description-container1 {
      margin-left: 0px;
    }

    .description-container1 {
      padding: 0
    }
  
    .content-img {
      margin-bottom: 15px;
      width: 100%;
      height: min-content;
      object-fit: contain;
    }
  
    .content-img.interior-doors {
      width: 100%;
      order: 2;
    }
  
    .text-container {
      width: auto
    }

    .content-wrapper .description-container1 .text-container {
      width: auto
    }
  
    .content-text {
      padding-top: 10px
    }

    
  
    .dignity-container, .dignity-container1  {
      display: none
    }


    .circles {
        display: inline-block;
        margin: 20px 0px 20px 0px;
        width: 768px;
        height: 160px;
        background: #DEAE83;
        display: flex;
        justify-content: center;
        align-items: center;    
    }
    
    .circles__inner {
        display: flex;
        width: 386px;
        justify-content: space-between;
    }

    .circles__item {
        width: 102px;
        height: 102px;
        font: normal 14px Open-sans, sans-serif;
        font-weight: 700;
        line-height: 21px;
        text-align: center;
        color: #FFFBFB;
        border-radius: 50%;
        border: 2px solid #FDFEFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .entrance-door .info,
    .balkony-door .info,
    .room-door .info {
        overflow-x:hidden;
        top: 25px;
        left: 55px;
        width: 300px;
        min-height: 300px;
        
        float: left;
    }
    .entrance-door h1,
    .balkony-door h1,
    .room-door h1 {
        font-size: 21px;
    }

    .room-door .info {
        left: -25px;
        float: right;
    }

    .feedbacks {
        overflow-y:scroll;
        width: 768px;
        min-height: 974px;
        margin-top: 20px;
        margin-bottom: 100px;
    }

    .feedbacks h1 {
        padding-top: 29px;
        padding-bottom: 15px;
    }

    .feedbacks .container {
      display: flex;
      justify-content: center;
  }

    .container {
        width: 580px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }

    .feedbacks .comment {
      overflow-x:hidden;
      width: 189px;
  
      margin: 0 25px;
  }




    .form-section {
        width: 768px;
        height: 988px;
        margin-top: 20px;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        background-color: #FEFEFE;
    }

    .form-section form {
        margin-top: 20px;
        width: 768px;
        height: 526px;
        background: #FEFEFF;
        margin-bottom: 300px;
    }

    .form {
        width: 30%;
        height: 100%;
        padding-top: 20px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .map {
        display: none;
    }

    .map_768 {
        display: block;
    }
 
    footer {
        width: 768px;
        margin-top: 20px;
        font-size: 10px; 
    }

    footer .text {
        margin-right: 30px;
        margin-left: 10px;
        
    }

    .partners .partners-block img {
        width: 79.58px;
        height: 50px;
    } 


    footer .links p, footer .text p { 
        font-size: 10px;
    }

    @media screen and (max-width: 400px)
    {

    .container {
      width: 400px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
  }




}

   
}