@media (min-width: 760px) and (max-width: 1300px) {
  h2 {
    font-size: 47px;
    line-height: 51px;
  }

  h2+h4 {
    padding-top: 32px
  }

  h3 {
    font-size: 25px;
    line-height: 24px;
  }

  h4 {
    font-size: 18px;
    line-height: 30px;
  }

  .map-widget {
    width: 100vw;
    height: 75vh;
    border: 0;
  }

  .secondary-text {
    font-size: 13px
  }

  .footer-text {
    font-size: 10px;
    line-height: 13px;
  }

  .pc-content:not(.tablet-content),
  .mobile-content:not(.tablet-content) {
    display: none
  }

  .header {
    padding: 10px 25px;
    height: 35px;
  }

  .nav-item{
    padding: 0 13px;
  }
  
  .nav-item:hover {
    background-color: #2A1D17;
    border-radius: 2px;
  }

  .content-wrapper {
    margin: 20px 0;
    width: 100%;
  }

  .doors .content-wrapper {
    background-color: #DEAE83
  }

  .doors .content-wrapper:first-of-type {
    margin-top: 20px
  }

  .description-container {
    padding: 30px 0 0 80px;
    justify-content: flex-start;
  }

  .doors .content-wrapper:nth-of-type(even) .description-container {
    padding: 30px 0 0 48px;
  }

  .content-img {
    margin: 30px 25px;
    max-width: calc(50% - 50px);
    height: 500px;
    object-fit: fill;
  }

  .content-img.interior-doors {
    margin-left: 80px;
    width: calc(50% - 50px)
  }

  

  .text-container {
    max-width: 275px
  }

  .dignity-container {
    display: none
  }

  .slider-item {
    height: 465px
  }

  .slider-item_text-container {
    margin: 110px 0 0 165px
  }

  .btn {
    margin: 0 10px;
    border-width: 15px;
  }

  .btn-next {
    border-left-width: 15px
  }

  .btn-prev {
    border-right-width: 15px
  }

  .feedbacks {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 100px;
 }

 .feedbacks h1 {
    padding-top: 29px;
    padding-bottom: 15px;
 }

 .feedbacks .container {
  display: flex;
  justify-content: center;
 }

 .feedbacks .comment {
  width: 189px;

  margin: 0 25px;
 } 

  .tablet-circle-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEAE83;
    padding: 30px;
  }

  .review-wrapper {
    margin: 20px 0;
    padding: 30px 0;
    height: auto;
  }

  .form-wrapper {
    margin: 20px 0;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
  }

  .form {
    padding: 30px calc(50% - 170px);
    width: 100%;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
  }

  #form .order-call-title{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 26px;
  }

  .number-prefix {
    padding-right: 5px;
    min-width: 30px;
    font-size: 16px;
  }

  .phone-input {
    max-width: calc(100% - 75px)
  }

  .submit-btn {
    align-self: center
  }

  .footer {
    padding: 30px 0 30px 80px;
    height: 200px;
  }

  .footer-text_container {
    padding-right: 45px;
    align-items: flex-start;
  }

  .footer p+p {
    margin-left: 45px
  }

  .footer-right {
    margin-right: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .footer-partners_container {
    padding-top: 30px
  }

  .footer-partners_header {
    padding-bottom: 6px
  }

  .footer-partners_img-container {
    width: 100%;
    justify-content: space-between;
  }

  .footer-partners_col {
    flex: 1
  }

  .footer-partners_col:not(:last-of-type) {
    margin-right: 16px
  }

  .footer-partner:not(:last-of-type) {
    margin-bottom: 16px
  }

  .footer-partner img {
    width: 100%;
    height: 50px;
  }

  .footer-partners_col:last-of-type .footer-partner {
    height: 100%
  }

  .footer-partners_col:last-of-type img {
    height: inherit;
    max-height: 116px;
  }
}

